.container {
  width: 120rem;
  max-width: 90%;
  margin: 0 auto;
}

header {
  height: 8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.nav-links__container {
  display: flex;
  column-gap: 3rem;
}

.nav-link {
  font-size: 1.8rem;
}

.main-section {
  padding: 4rem 0 8rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  font-size: 4rem;
  margin: 1.2rem;
}

.main-content__img {
  height: 40rem;
  width: 62rem;
  max-width: 90%;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* -------------- Home Page Styling -------------- */
.main-content__home-img {
  height: 30rem;
  width: 40rem;
  max-width: 90%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 2rem 0;
}

.main-content__home-caption {
  font-size: 1.8rem;
}

.main-content__start-btn {
  margin-top: 3rem;
  font-size: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
}

.main-content__start-btn:hover {
  background-color: #00000020;
}

/* -------------- Question Page Styling -------------- */
.questions-container {
  width: 62rem;
  max-width: 90%;
  padding: 2.6rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  background-color: #f5f7f9;
  display: grid;
  grid-row-gap: 1.5rem;
  grid-template-rows:
    min-content minmax(7rem, max-content) minmax(15rem, max-content)
    min-content;
}

.questions-container .question-number {
  font-size: 1.4rem;
  font-weight: 400;
}

.questions-container .question {
  font-size: 2.3rem;
  font-weight: 600;
}

.questions-container .answers-container {
  list-style-type: none;
  display: grid;
  grid-row-gap: 1rem;
}

.questions-container .answers-container .answer-wrapper {
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.questions-container .answers-container .answer-wrapper .answer-number {
  font-size: 1.5rem;
  padding: 0.1rem 0.8rem;
  background-color: #f5f7f9;
}

.questions-container .answers-container .answer-wrapper .answer {
  font-size: 1.7rem;
}

.questions-container .question-btns {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.questions-container .question-btns .next-btn,
.questions-container .question-btns .prev-btn {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.7rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  cursor: pointer;
}
/* 
.questions-container .question-btns .prev-btn {
} */

/* -------------------- Introvert Section Styling && Extrovert Section Styling -------------------- */
.main-content__container {
  width: 62rem;
  max-width: 90%;
  padding: 2.6rem;
  margin-top: 4rem;
  border-radius: 0.5rem;
  background-color: #f5f7f9;
}

.main-content__container-title {
  text-align: center;
  font-size: 2.5rem;
}

.main-content__container-details {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 1rem;
}

/* ------------------------- Footer Styling -------------------------- */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.8rem;
}

.footer p {
  font-size: 1.3rem;
  text-align: center;
}
